:root {
    --bg-color: #FFF;
    --primary-color: #3c3752;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: helvetica;
    font-size: 17px;
}

header {
    font-size: 22px;
    font-weight: 700;
    border-bottom: 4px solid var(--primary-color);
    background: none;
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

main {
    padding: 30px 10px;
    margin: auto;
}

h1 {
    margin: 0;
    font-size: 34px;
}

a,
a:visited,
a:link {
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: underline;
}

header a:link,
a:hover {
    color: var(--primary-color);
    text-decoration: none;
}

#photo {
    margin: auto;
    width: 100%;
    max-width: 320px;
    height: calc(100vw - 40px);
    max-height: 320px;
    border-radius: 100%;
    overflow: hidden;
}

#photo img {
    width: 100%;
    max-width: 320px;
}


a.newWindow::after {
    content: "\21D7";
}

.skip-to-main-content-link {
    position: absolute;
    left: -9999px;
    z-index: 999;
    opacity: 0;
}

